<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/webclient/css/auth.css}" />
</head>
<body class="auth-page">
<div class="auth-container">

    <h1>Вход</h1>


    <div th:if="${loginError}" class="error" th:text="${loginError}"></div>

    <form th:action="@{/webclient/auth/login}" method="post">
        <div>
            <label>Имя пользователя:
                <input name="username" type="text" required />
            </label>
        </div>

        <div>
            <label>Пароль:
                <input name="password" type="password" required />
            </label>
        </div>

        <button type="submit">Войти</button>
    </form>

    <p>Нет аккаунта?
        <a th:href="@{/webclient/auth/register}">Зарегистрироваться</a>
    </p>
</div>
</body>
</html>
