<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${testDto.id} != null ? 'Редактировать тест' : 'Новый тест'"/>
    <link rel="stylesheet" th:href="@{/webclient/css/test_form.css}" />
</head>

<body>
<div th:replace="fragments :: userbar"></div>
<div class="container">
    <div class="form-container">
        <h1 th:text="${testDto.id} != null ? 'Редактировать тест' : 'Новый тест'"></h1>
        <form th:action="${testDto.id} != null
             ? @{/webclient/tasks/{taskId}/tests/{id}(taskId=${testDto.taskId},id=${testDto.id})}
             : @{/webclient/tasks/{taskId}/tests(taskId=${testDto.taskId})}"
              th:object="${testDto}" method="post">
            <div class="form-group">
                <label>Input:</label>
                <textarea th:field="*{input}"></textarea>
            </div>
            <div class="button-group">
                <button type="submit" class="btn">Сохранить</button>
                <a th:href="@{'/webclient/tasks/' + ${testDto.taskId} + '/tests'}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
